            body {
                font-family: "Manrope", sans-serif;
                background-image: url(./images/banner.webp), linear-gradient(to bottom, #000000, #000000);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                vertical-align: middle;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 48px;
            }
            
            p {
                font-family: "Manrope", sans-serif;
                font-size: 16px;
                font-weight: normal;
            }
            
            .banner-container {
                display: block;
            }
            
            .rive-canvas {
                width: 100%;
                /* Match text box width or adjust as needed */
                height: auto;
                /* Adjust height as needed */
                margin-top: 24px;
                /* Space between text and animation */
            }
            
            .text-box {
                background-color: rgb(224, 241, 31);
                color: #000000;
                font-weight: normal;
                text-align: left;
                margin-top: 10px;
                padding: 40px;
                border-top-left-radius: 64px;
                border-bottom-right-radius: 64px;
                border: #000000 solid 8px;
                width: 80%;
                max-width: 400px;
                position: absolute;
                top: 80px;
                left: 80px;
            }
            
            .pro {
                color: #000000;
                font-weight: bold;
            }
            
            .mad {
                font-family: "Playfair Display";
                font-weight: bold;
            }
            
            a {
                font-family: "Playfair Display", serif;
                font-style: italic;
                font-weight: 700;
                color: #000000;
                text-decoration: underline;
            }