    body {
        font-family: Manrope, sans-serif;
        background-image: url(./assets/banner.webp), linear-gradient(to bottom, #000000, #000000);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 48px;
    }
    
    p {
        font-family: Manrope, sans-serif;
        font-size: 16px;
        font-weight: normal;
    }
    
    .banner-container {
        width: 80%;
    }
    
    .text-box {
        background-color: rgb(224, 241, 31);
        color: #000000;
        font-weight: normal;
        text-align: left;
        margin-top: 10px;
        padding: 40px;
        border-top-left-radius: 64px;
        border-bottom-right-radius: 64px;
        border: #000000 solid 8px;
        width: 40%;
        vertical-align: middle;
    }
    
    a {
        font-family: Playfair, serif;
        font-size: 20px;
        font-style: italic;
        font-weight: 700;
        color: #000000;
        text-decoration: underline;
    }